{% extends "albums/base.html" %}

{% block main_content %}
    <h1>All records</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Artists</th>
                <th>Title</th>
                <th>My personal notes</th>
                {% if current_user.is_authenticated %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
                <tr>
                    <td>
                        {% for artist in album.artists %} {{ artist }} {{ "/" if not loop.last }} {% endfor %}
                    </td>
                    <td>{{ album.title }}</td>
                    <td>{{ album.personal_note }}</td>
                    {% if current_user.is_authenticated %}
                    <td>
                        <ul>
                            <li><a href="{{ url_for('edit_album', id=album.id) }}">Edit</a></li>
                            <li>Delete</li>
                        </ul>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}